body{
  background-color:#212F3C;
  font-size: 20px;
  color: white;
  text-align: center;
  font-family: monospace;
}
#map {
    height: 300px;
    width: 50%;
    float: right;
}
#content{
    font-size: 15px;
    line-height: 20px;
    text-align:justify;
}
